*{
    margin:0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color:#fff;
    height: 5rem;
    line-height: 5rem; 
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    align-items: center;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
background-color: #081b31;
cursor: pointer;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top:3rem ;
    gap: 5rem;
}
#user-score,#comp-score{
font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
    animation: glow 0.2s ease-in-out infinite alternate;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    margin: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    border-color: goldenrod;
    color: gold;
}
@keyframes glow{
    0%{
text-shadow: 0 0 20px red,0 0 30px red,0 0 40px red;
    }
    100%{
text-shadow: 0 0 30px red,0 0 40px red,0 0 50px red;
    }
}